/*refers to all children of the diagram, including the checkboxes*/
figure.diagram *{
	position:absolute;
}

/* canvas styling */
.canvas{
	border:1px solid #000000;
	width:100%;
}

/* images in checkbox/radio button questions */
div.checkbox-image label{
	position:absolute;
	left:40%;
	top:100%;
	font-size:0.9em;
}

div.checkbox-image{
	margin-bottom:1%;

}
