html body
{
	z-index:-1000;
}

<<<<<<< HEAD
.template{
	visibility:none;
}

span{
	border: 1px dashed black;
	padding:2px;
}

.ui-state-default{
	border: 1px solid black;
}

=======
>>>>>>> parent of 4dc97a3... Sortable + new questions
/* canvas styling */
canvas{
	border:1px solid #000000;
	z-index:-99;
}

/* images in checkbox/radio button questions */
div.checkbox-image label{
	position:absolute;
	left:40%;
	top:100%;
	font-size:0.9em;
}

div.checkbox-image{
	margin-bottom:1%;

}
