/* builder styles */
form div.template label input[type='text'], h3 input {
	display: none;
	padding-left: 5px;
}

form div.template label {
	padding-right: 10px;
}
form div.template label input{
	margin-left: 10px;
}

.template{
	visibility:visible; 
}

.collection
{
display: table;
width:100%;
table-layout:fixed;
width:100%;
max-width:100%;
}

.group{
display:table-row;
padding-bottom:10px;
}
.cell{
display:table-cell;
padding-right: 10px;
white-space:nowrap;
text-overflow:ellipsis;
}
input[type='file']{
width:200px;
}
.cell.first{
width:150px;
max-width:150px;
}
.cell.first input[type='text']{
width:100px;
max-width:100px;
}
