<doctype !html>
<html>
<head>
<script type='text/javascript' src="{{ url_for('static', filename='jquery.js')}}"></script>
<script type='text/javascript'>
var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-custom.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='builder.js')}}"></script>

<!-- insert title here --><title>Form Builder</title></head>
<body>
<div class="container">
<!-- this is a comment. This container contains everything you write-->

<h1 class='clickfield'><span id='title'>Form Title Here</span><input type='text' class='title' hidden/></h1>
<p class='clickfield'><span id='description'>Form description here.</span><input type='text' class='description' hidden/></p>



<div id='questions'>
	<div class='ui-state-default col-md-12'>
		<form class='builder template hidden' method='post' enctype="multipart/form-data" id='builder-0'>	
		<button class='delete-form'>DELETE</button>
	<!-- new question -->
	<div class="question-template template question col-md-12">
		<h3 class="col-md-12 header clickfield"><span>Question Text Here</span><input type='text' class='header'/></h3>
		<div class='radio col-md-8'>
			<label class='type'>Type:</label>
			<br>
			<div class="radio answer col-md-8"><label><input type='radio' value='radio' class='show-rad select' name='type'>Radio</label></div>
			<div class='radio answer col-md-8'><label><input type='radio' value='checkbox' class='show-chk select' name='type'>Checkbox</label></div>
			<div class="radio answer col-md-8"><label><input type='radio' value='textarea' class='show-text select' name='type'>Textarea</label></div>
			<div class="radio answer col-md-8"><label><input type='radio' value='diagram' class='show-diag select' name='type'>Diagram</label></div>

			<div class='radio-template template col-md-12'>
				<label>Name:</label><input name='name' />
				<div class="radio answer collection">
					<div class='body'>
					<div class='group '>
						<div class='cell first'>
							Answers
						</div>
						<div class='cell second'>
							Value in note
						</div>
						<div class='cell third'>
							Optional Photo
						</div>
						<div class='cell fourth'>
							Delete
						</div>
					</div>
					<div class='group hidden'>
						<div class='cell first'><label class='clickfield'><input type="radio" name='' /><span>Answer</span><input type='text' name='answer-text'></label></div>
						<div class='cell second'><label>Value:</label><input name='value'/></div>
						<div class='cell third'><input type='file' name='' accept="image/*"></div>
						<div class='cell fourth'><button class='remove'>-</button></div>
					</div>
					</div>
					<div class='foot group'>
						<div class='cell'>
							<button id='new-rad-answer' class='add-answer'>New Answer</button></td></tr>
						</div>
					</div>
				</div>
			</div>

			<div class='checkbox-template template col-md-12'>
				<label>Name:<input name='name' /></label>
				<div class="checkbox answer collection">
					
					<div class='body'>
					<div class='group'>
						<div class='cell first'>
							Answers
						</div>
						<div class='cell second'>
							Value in note
						</div>
						<div class='cell third'>
							Optional Photo
						</div>
						<div class='cell fourth'>
							Delete
						</div>
					</div>
					<div class='group hidden'>
						<div class='cell first'><label class='clickfield'><input type="checkbox" name='' /><span>Answer</span><input type='text' name='answer-text'></label></div>
						<div class='cell second'><label>Value:</label><input name='value'/></div>
						<div class='cell third'><input type='file' name='' accept="image/*" ></div>
						<div class='cell fourth'><button class='remove'>-</button></div>
					</div>
					</div>
					<div class='foot group'>
						<div class='cell'>
							<button id='new-check-answer' class='add-answer'>New Answer</button></td></tr>
						</div>
					</div>
				</div>
			</div>

			
			<div class='textarea-template template col-md-12 hidden'>
			
				<label>Pre-answer phrase:<input name='name' /></label><br>
				<textarea name="textarea" width='100%'></textarea>
			</div>
			
			<div class='diagram-template template col-md-12'>
				<input class="file" type="file" name="the_file[]" multiple>
				<label>Pre-answer phrase:<input name='name' /></label>
				<div class="diagram answer">
				<label>Value:<input name='value'/></label>
				<div>
				<figure class='diagram'>
				<canvas class='myCanvas' height='auto'></canvas>
				<div class='sidebar'>
				<div class='template check-0 hidden clickfield' >
					<input type='checkbox' /><span class='value'>VALUE</span><div class='position'>POS</div><input type='text' hidden /><button class='remove-check'>-</button>
				</div>
				</div>
				</figure>
				
				</div>
				<button type='button' class='diagram-upload'>Upload Photo</button>
				</div>
			</div>
		</div>
	</div>
	</form>
	</div>
</div>
<div class='col-md-8'>
	<button id="newq">New Question</button>
	<button id='submit'>Submit</button>
</div>
<!-- Scripts go here to increase speed load time -->

</body>


</html>

