<doctype !html>
<html>
<head>
<script type='text/javascript' src='{{ url_for('static', filename='jquery.js')}}'></script>
<script type='text/javascript'>
var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build.css')}}">
<!-- insert title here --><title>Headaches</title></head>
<body>
<div class="container">
<!-- this is a comment. This container contains everything you write-->

<div class='col-md-8'>
	
		<button id="newq">New Question</button>
</div>

<div id='questions'>
	<div class='ui-state-default'>
		<form class='builder template hidden' method='post' enctype="multipart/form-data" id='builder-0'>	

	<!-- new question -->
	<div class="question-template template question col-md-12">
		<h3 class="col-md-12 header clickfield"><span class='number'>#. </span><span>Question Text Here</span><input type='text' class='header'/></h3>
		<div class='radio col-md-8'>
			<label class='type'>Type:</label>
			<br>
			<div class="radio answer col-md-8"><label><input type='radio' value='radio' class='show-rad select' name='type'>Radio</label></div>
			<div class='radio answer col-md-8'><label><input type='radio' value='checkbox' class='show-chk select' name='type'>Checkbox</label></div>
			<div class="radio answer col-md-8"><label><input type='radio' value='diagram' class='show-diag select' name='type'>Diagram</label></div>


			<div class='radio-template template col-md-12 hidden'>
				<label>Pre-answer phrase:</label><input name='name' />
				<div class="radio answer collection">
					<div class='body'>
					<div class='group'>
						<div class='cell first'>
							Answers
						</div>
						<div class='cell second'>
							Value in note
						</div>
						<div class='cell third'>
							Optional Photo
						</div>
						<div class='cell fourth'>
							Delete
						</div>
					</div>
					<div class='group hidden'>
						<div class='cell first'><label class='clickfield'><input type="radio" name='' /><span>Answer</span><input type='text' name='answer-text'></label></div>
						<div class='cell second'><label>Value:</label><input name='value'/></div>
						<div class='cell third'><input type='file' name='' accept="image/*"></div>
						<div class='cell fourth'><button class='remove'>-</button></div>
					</div>
					</div>
					<div class='foot group'>
						<div class='cell'>
							<button id='new-rad-answer' class='add-answer'>New Answer</button></td></tr>
						</div>
					</div>
				</div>
			</div>

			<div class='checkbox-template template col-md-12 hidden'>
				<label>Pre-answer Phrase:<input name='name' /></label>
				<div class="checkbox answer collection">
					
					<div class='body'>
					<div class='group'>
						<div class='cell first'>
							Answers
						</div>
						<div class='cell second'>
							Value in note
						</div>
						<div class='cell third'>
							Optional Photo
						</div>
						<div class='cell fourth'>
							Delete
						</div>
					</div>
					<div class='group hidden'>
						<div class='cell first'><label class='clickfield'><input type="checkbox" name='' /><span>Answer</span><input type='text' name='answer-text'></label></div>
						<div class='cell second'><label>Value:</label><input name='value'/></div>
						<div class='cell third'><input type='file' name='' accept="image/*" ></div>
						<div class='cell fourth'><button class='remove'>-</button></div>
					</div>
					</div>
					<div class='foot group'>
						<div class='cell'>
							<button id='new-check-answer' class='add-answer'>New Answer</button></td></tr>
						</div>
					</div>
				</div>
			</div>

			<div class='diagram-template template col-md-12 hidden'>
				<input class="file" type="file" name="the_file[]" multiple>
				<label>Pre-answer phrase:<input name='name' /></label>
				<div class="diagram answer">
				<label>Value:<input name='value'/></label>
				<div>
				<figure class='diagram'>
				<canvas class='myCanvas' width='200px' height='auto'></canvas>
				</figure>
				</div>
				<button type='button' class='diagram-upload'>Upload photo</button>
				</div>
			</div>
		</div>
	</div>
	</form>
	</div>
</div>
</div>
<!-- Scripts go here to increase speed load time -->

<script type='text/javascript' src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='builder.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.ui.widget.js')}}"></script>
<script type='text/javascript' src='http://code.jquery.com/ui/1.10.4/jquery-ui.js'></script>
<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload.js')}}"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
</script>
</body>
</html>

